/*Main CSS file*/
.grid-container {
  position: relative;
  top:-50px;
    display: grid;
    gap: 10px 10px;
   
    grid-template-columns: auto auto auto;
    padding: 10px;
    
  }
  .grid-item {
    background-color: #eba544;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family:fantasy ;
    
  }
  #text{
    position: relative;
    top:-50px;
      text-align: center;
      margin-right:10px;
      font-size: 22px;
      
  }
  #inp1{
      text-align: center;
      color:black;
      width:300px;
      height: 40px;
      border-radius: 30px;
      
  }
  #inp1:focus{
      font-weight: bolder;
      font-size: 18px;

  }
  #b1{
    position: relative;
    top:-50px;
      text-align: center;
      margin-left: 630px;
      width:150px;
      height: 40px;
      font-size: 18px;
      font-family: Guess;
      background-color: black;
      color:white;
      border-radius: 20px;

  }
  #b1:hover{
      color:black;
      background-color: green;
  }
  h1 {
    text-align: center;
    font-family:cursive;
    color: black;
    margin: 100px 0;
    font-size: 30px;
  }
  
  .box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .button:hover {
    background: orange;
    color: #fff;
  }
  
  .overlay {
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);  
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
    top:0px;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20%;
    
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    
  }
  
  .popup .close:hover {
    color: orange;
    transform: rotate(90deg);
  }
  
  .popup .content {
    max-height: 100%;
    overflow: auto;
  }
  .coupon {
    border: 5px dotted #bbb;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .container {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
  #hidden{display: none;}
  .body {
   margin-top: auto;
    /*background-color: #fc3153;*/
    background-image:url("main-background.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
    
    
    /*Added*/
    
  }
  
  /*.bodycss{
  :url("https://img.freepik.com/premium-vector/lots-colorful-tiny-confetti-ribbons-transparent-background_220217-3295.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

  }*/
  
  #glow {
    margin-top: -50px;
    font-size: 140pt;
    font-family: 'Luckiest Guy';
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -6px 0 #212121,  
                   0px -6px 0 #212121,
                   0px  6px 0 #212121,
                   0px  6px 0 #212121,
                  -6px  0px 0 #212121,  
                   6px  0px 0 #212121,
                  -6px  0px 0 #212121,
                   6px  0px 0 #212121,
                  -6px -6px 0 #212121,  
                   6px -6px 0 #212121,
                  -6px  6px 0 #212121,
                   6px  6px 0 #212121,
                  -6px  18px 0 #212121,
                   0px  18px 0 #212121,
                   6px  18px 0 #212121,
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
      }
      #main-button{
        position: relative;
        display: inline-block;
        margin: bottom 10px;
        width:300px;
        height:50px;
        border-radius: 30px;
        top:-55px;
      }
      #main-button:hover{
        background-color: greenyellow;
        font-weight: bolder;
        font-size: 20px;
        font-family: 'Luckiest Guy';
      
      }
      /*https://img.freepik.com/premium-vector/lots-colorful-tiny-confetti-ribbons-transparent-background_220217-3295.jpg?w=2000
      https://wallup.net/wp-content/uploads/2017/11/22/392573-lights-bokeh.jpg*/
      #marq{
      display: inline;
    }

    #alert{
      display: none;
       position: relative;
       
       color:red;
       background-color: white;
       padding: 10px; 
       font-size: 22px;
    }